// .th.mat-header-cell.td.mat-cell.td.mat-footer-cell {
//   border-bottom-width: none !important;
// }
// .overlay{
//  background-color: #223890;
//  opacity: 0.6;
// }

.list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px 5px 5px 5px;
  height: 92vh;
}

.listItems {
  max-height: 81vh;
}
